
<h1>About us</h1>
<p>I was a public school teacher for almost 10 years.  Recently I've made a career shift in a much more creative direction.  I work with school districts to help write and develop educational curriculum.  I work with clients to build wordpress pages and basic landing pages.  I also create custom artwork and help provide clients with creative direction from logo design and photoshop skills all the way to traditional oil paintings and portraiture.</p>
